* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'poppins', sans-serif;
    background-image:url('images/blue  1.jpg');
    background-position: center;
    background-size: cover;
}



.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #1D232c;
    backdrop-filter: blur(20px);
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navbar-links{
    display:flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration:none;
    color:#1D232c;
}

.navbar-link a:hover{
    text-decoration:underline ;
    color:#1D232c;
}

.navbar-menu-toggle{
    display:none;
}
/* side navbar*/
.side-navbar{
    background-color: #1D232c;
    width:50%;
    height:100%;
    position:fixed;
    top:0;
    right:-60%;
    padding: 20px;
    color:white;
    transition:2s;
}
.side-navbar-link{
    margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration: none;
    color:white;
}

.side-navbar-links a:hover{
    text-decoration: underline;
}

.contact{
    border: 1px solid black;
    width: 400px;
    height: 500px;
    background-color: lightblue;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75)  ;
    background-size: cover;
    padding:10px ;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;    
}
form{
    display:block;
    flex-direction: column;
    padding: 50px;
    display: flex;
    gap: 30px;

}
.table{
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
}
input{
    background-color: rgba(255,255,255,0.3);
    height: 40px;
    line-height: 40px;
    border: none;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 0px 20px;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232c;
    color: beige;
}

/*media query*/
@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display:block;
    }
    .navbar-links{
        display:none;
    }
    
 }